.vscode
.venv
*.csv

# Godot project files
.import/
export.cfg
export_presets.cfg

# Build artifacts from godot-cpp / scons
*.obj
*.o
*.os
*.a
*.so
*.dll
*.dylib
*.exe
*.exp
*.lib
*.pdb

# SCons build directories
.sconsign.dblite
.sconsign.*
.sconsign
.cache/
bin/
build/

!*.gdextension
