name: Build GDExtension

on:
  pull_request:
    branches: 
      - main


permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            name: linux
          - os: windows-latest
            name: windows

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Init and update submodules
        run: |
          git submodule init
          git submodule update --recursive --remote

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install SCons
        run: pip install scons

      - name: Build debug with SCons
        run: scons platform=${{ matrix.name }} target=template_debug demo_only=0

      - name: Build release with SCons
        run: scons platform=${{ matrix.name }} target=template_release demo_only=0

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: gdextension-${{ matrix.name }}
          path: lib/*
