name: Build GDExtension

on:
  push:
    branches: main
    tags:
      - "V*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            name: linux
          - os: windows-latest
            name: windows

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install SCons
        run: pip install scons

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build debug with SCons
        run: scons platform=${{ matrix.name }} target="template_debug" publish=1

      - name: Build release with SCons
        run: scons platform=${{ matrix.name }} target="template_release" publish=1

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: gdextension-${{ matrix.name }}
          path: lib/*
